.b-card {
  --b-card--background-color: transparent;
  --b-card--border: none;
  --b-card--box-shadow: none;
  --b-card--padding: var(--size-scalable-large);
  --b-card--color: inherit;
  --b-card--border-radius: var(--border-radius-normal);

  background-color: var(--b-card--background-color);
  border: var(--b-card--border);
  border-radius: var(--b-card--border-radius);
  box-shadow: var(--b-card--box-shadow);
  color: var(--b-card--color);
  padding: var(--b-card--padding);
  position: relative;

  &--variant {
    &-default {
      --b-card--background-color: var(--color-white);
    }
  }

  &--elevation {
    &-100 {
      --b-card--box-shadow: var(--shadow-100);
    }

    &-200 {
      --b-card--box-shadow: var(--shadow-200);
    }

    &-300 {
      --b-card--box-shadow: var(--shadow-300);
    }
  }
}
