.b-icon {
  --b-icon--color: inherit;
  --b-icon--wrapper-color: var(--color-secondary);
  --b-icon--wrapper-padding: var(--size-scalable-small);
  color: var(--b-icon--color);
  display: inline-flex;
  position: relative;

  &--size {
    &-extra-small > .material-icons {
      font-size: var(--size-scalable-extra-small);
    }
    &-small > .material-icons {
      font-size: var(--size-scalable-small);
    }
    &-medium > .material-icons {
      font-size: var(--size-scalable-medium);
    }
    &-large > .material-icons {
      font-size: var(--size-scalable-large);
    }
    &-extra-large > .material-icons {
      font-size: var(--size-scalable-extra-large);
    }
    &-jumbo > .material-icons {
      font-size: var(--size-scalable-jumbo);
    }
    &-extra-jumbo > .material-icons {
      font-size: var(--size-scalable-extra-jumbo);
    }
    &-giant > .material-icons {
      font-size: var(--size-scalable-giant);
      --h-avatar-height: var(--size-scalable-giant);
    }
    &-extra-giant > .material-icons {
      font-size: var(--size-scalable-extra-giant);
    }
    &-colossal > .material-icons {
      font-size: var(--size-scalable-colossal);
    }
    &-extra-colossal > .material-icons {
      font-size: var(--size-scalable-extra-colossal);
    }
    &-mega > .material-icons {
      font-size: var(--size-scalable-mega);
    }
    &-extra-mega > .material-icons {
      font-size: var(--size-scalable-extra-mega);
    }
    &-immense > .material-icons {
      font-size: var(--size-scalable-immense);
    }
  }

  &--color {
    &-primary {
      --b-icon--color: var(--color-primary);
    }
    &-secondary {
      --b-icon--color: var(--color-secondary);
    }
    &-inverse {
      --b-icon--color: var(--color-white);
    }
  }

  &--wrapper {
    &-circle {
      padding: var(--b-icon--wrapper-padding);
      background-color: var(--b-icon--wrapper-color);
      border-radius: var(--border-radius-circle);
    }

    &-rounded {
      padding: var(--b-icon--wrapper-padding);
      background-color: var(--b-icon--wrapper-color);
      border-radius: var(--border-radius-normal);
    }

    &-square {
      padding: var(--b-icon--wrapper-padding);
      background-color: var(--b-icon--wrapper-color);
    }
  }
}