:root {
  /**
  * @tokens Sizes - Scalable
  * @presenter Spacing
  */
  --size-scalable-nano: 1px;
  --size-scalable-micro: 2px;
  --size-scalable-extra-small: 4px;
  --size-scalable-small: 8px;
  --size-scalable-medium: 16px;
  --size-scalable-large: 24px;
  --size-scalable-extra-large: 32px;
  --size-scalable-jumbo: 40px;
  --size-scalable-extra-jumbo: 48px;
  --size-scalable-giant: 56px;
  --size-scalable-extra-giant: 64px;
  --size-scalable-colossal: 72px;
  --size-scalable-extra-colossal: 80px;
  --size-scalable-mega: 88px;
  --size-scalable-extra-mega: 96px;
  --size-scalable-immense: 104px;

  /**
  * @tokens Sizes - Progressive
  * @presenter Spacing
  */
  --size-progressive-nano: 10px;
  --size-progressive-micro: 12px;
  --size-progressive-extra-small: 14px;
  --size-progressive-small: 16px;
  --size-progressive-medium: 18px;
  --size-progressive-large: 20px;
  --size-progressive-extra-large: 22px;
  --size-progressive-jumbo: 24px;
  --size-progressive-extra-jumbo: 26px;
  --size-progressive-giant: 28px;
  --size-progressive-extra-giant: 30px;
  --size-progressive-colossal: 32px;
  --size-progressive-extra-colossal: 34px;
  --size-progressive-mega: 36px;
  --size-progressive-extra-mega: 38px;
  --size-progressive-immense: 40px;
}