:root {
  --color-pink-scale-001: #f11075;
  --color-pink-scale-003: #f26995;

  --color-grey-scale-001: #f5f5f5;
  --color-grey-scale-002: #DCDCDC;
  --color-grey-scale-005: #888888;

  --color-primary: var(--color-pink-scale-500); /* Pink 500 */
  --color-secondary: #c2185b; /* Purple 700 */
  --color-tertiary: #f26995;

  --body-text-color: var(--color-black);


  /* BSpinner */
  --b-spinner-width: inherit;
  --b-spinner-height: inherit;
  --b-spinner-stroke: inherit;

  /* BText */
  --b-text--color: inherit;
  --b-text--font-size: inherit;
  --b-text--font-style: inherit;
  --b-text--font-weight: inherit;
}