
.b-text {
  color: var(--b-text--color);
  font-size: var(--b-text--font-size);
  font-style: var(--b-text--font-style);
  font-weight: var(--b-text--font-weight);
  word-wrap: break-word;

  &--weight {
    &-black {
      --b-text--font-weight: 900;
    }
    &-extra-bold {
      --b-text--font-weight: 800;
    }
    &-bold {
      --b-text--font-weight: 700;
    }
    &-semi-bold {
      --b-text--font-weight: 600;
    }
    &-medium {
      --b-text--font-weight: 500;
    }
    &-regular {
      --b-text--font-weight: 400;
    }
    &-light {
      --b-text--font-weight: 300;
    }
    &-extra-light {
      --b-text--font-weight: 200;
    }
    &-thin {
      --b-text--font-weight: 100;
    }
  }

  &--color {
    &-primary {
      --b-text--color: var(--color-black);
    }
    &-inverse {
      --b-text--color: var(--color-white);
    }
  }

  &--emphasis {
    &-high {
      opacity: 0.87;
    }
    &-medium {
      opacity: 0.60;
    }
    &-low {
      opacity: 0.38;
    }
  }

  &--variant {
    &-h1 {
      --b-text--font-size: 96px;
      letter-spacing: -1.5px;
      --b-text--font-weight: 100;
    }
    &-h2 {
      --b-text--font-size: 60px;
      letter-spacing: -0.5px;
      --b-text--font-weight: 100;
    }
    &-h3 {
      --b-text--font-size: 48px;
      letter-spacing: 0px;
      --b-text--font-weight: 400;
    }
    &-h4 {
      --b-text--font-size: 34px;
      letter-spacing: 0.25px;
      --b-text--font-weight: 400;
    }
    &-h5 {
      --b-text--font-size: 24px;
      letter-spacing: 0px;
      --b-text--font-weight: 400;
    }
    &-h6 {
      --b-text--font-size: 20px;
      letter-spacing: 0.15px;
      --b-text--font-weight: 500;
    }
    &-subtitle1 {
      --b-text--font-size: 16px;
      letter-spacing: 0.15px;
      --b-text--font-weight: 400;
    }
    &-subtitle2 {
      --b-text--font-size: 14px;
      letter-spacing: 0.1px;
      --b-text--font-weight: 500;
    }
    &-body1 {
      --b-text--font-size: 16px;
      letter-spacing: 0.5px;
      --b-text--font-weight: 400;
    }
    &-body2 {
      --b-text--font-size: 14px;
      letter-spacing: 0.25px;
      --b-text--font-weight: 400;
    }
    &-button {
      --b-text--font-size: 14px;
      letter-spacing: 1.25px;
      --b-text--font-weight: 400;
      text-transform: uppercase;
    }
    &-caption {
      --b-text--font-size: 12px;
      letter-spacing: 0.4px;
      --b-text--font-weight: 400;
    }
    &-overline {
      --b-text--font-size: 10px;
      letter-spacing: 1.5px;
      --b-text--font-weight: 400;
    }
  }

  &--size {
    &-nano {
      --b-text--font-size: var(--size-progressive-nano);
    }
    &-micro {
      --b-text--font-size: var(--size-progressive-micro);
    }
    &-extra-small {
      --b-text--font-size: var(--size-progressive-extra-small);
    }
    &-small {
      --b-text--font-size: var(--size-progressive-small);
    }
    &-medium {
      --b-text--font-size: var(--size-progressive-medium);
    }
    &-large {
      --b-text--font-size: var(--size-progressive-large);
    }
    &-extra-large {
      --b-text--font-size: var(--size-progressive-extra-large);
    }
    &-jumbo {
      --b-text--font-size: var(--size-progressive-jumbo);
    }
    &-extra-jumbo {
      --b-text--font-size: var(--size-progressive-extra-jumbo);
    }
    &-giant {
      --b-text--font-size: var(--size-progressive-giant);
    }
    &-extra-giant {
      --b-text--font-size: var(--size-progressive-extra-giant);
    }
    &-colossal {
      --b-text--font-size: var(--size-progressive-colossal);
    }
    &-extra-colossal {
      --b-text--font-size: var(--size-progressive-extra-colossal);
    }
    &-mega {
      --b-text--font-size: var(--size-progressive-mega);
    }
    &-extra-mega {
      --b-text--font-size: var(--size-progressive-extra-mega);
    }
    &-immense {
      --b-text--font-size: var(--size-progressive-immense);
    }
  }

  &--align {
    &-left {
      text-align: left;
    }
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
    &-justify {
      text-align: justify;
      text-justify: inter-word;
    }
  }

  &--behavior {
    &-italic {
      --b-text--font-style: italic;
    }
  }
}
